<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<div>
    <ul>
        <li><a href="/">채팅목록</a></li>
        <li><a href="/save-form">채팅 메시지쓰기</a></li>
    </ul>
</div>
<h1>채팅 목록</h1>
<hr>
<ul id="chat-box">
    {{#models}}
        <li>{{msg}}</li>
    {{/models}}
</ul>

<script>
    // 1. SSE 연결
    const sse = new EventSource("/connect");

    // 2. SSE 최초 연결되면 더미 데이터를 받을 리스너 등록 ("connect" 라는 이름으로 연결)
    sse.addEventListener('connect', (e) => {
        console.log("1.connect", e);
        const { data: body } = e;
        console.log('1.1 connect event data: ',body);  // "dummy-data"
    });

    // 3. 이벤트를 받을 진짜 리스너 등록 ("chat" 라는 이름으로 연결)
    sse.addEventListener('chat', e => {
        console.log("2.chat", e);
        const { data: body } = e;
        console.log("2.1 chat event data",body);

        let chat = JSON.parse(body);
        changeDom(chat.msg);
    });

    // 2. DOM 변경
    function changeDom(msg){
        let site = document.querySelector("#chat-box");
        let dom = document.createElement("li");
        dom.innerHTML = msg;
        site.prepend(dom);
    }

</script>

</body>
</html>